body{
    background-color: #0b0f1b;
    background-size: 100%;
}

#input-area{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #ffffff;
    background-color: #0e101a;
    margin: auto;
    display: block;
    width: 30%;
    font-size: x-large;
    border: 50%;
    border-color: #ff4db8;
    outline: 50%;
    outline-color: #ff4db8;
}

h2{
    margin-top: 10vh;
    font-family: 'Courier New', Courier, monospace;
    color: #ff4db8;
}

#request{
    font-family: 'Courier New', Courier, monospace;
    color: #ff4db8;
    text-align: center;
}

div{
    font-family: 'Courier New', Courier, monospace;
    color: #ff4db8;
}

#LeFeesh{
    margin: auto;
    display: block;
    
}

#LeButon{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #ff4db8;
    background-color: #0e101a;
    margin: auto;
    display: block;
    width: 20%;
    font-size: x-large;
    border: 50%;
    border-color: #ff4db8;
    outline: 50%;
    outline-color: #ff4db8;
}

#LeButon:hover{
    outline-color: #ffffff;
    color: #ffffff;
}


/* All bellow is added by Kristian and Magne, nav and footer styling */

/* Navigation Bar */
nav {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    background: radial-gradient(circle, #1a1a2e,#0b0f1b );
    border-bottom: #ff4db8 1px solid;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff4db8;
}

/* Footer */
footer {
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    color: #ffffff;
    border-top:#ff4db8 1px solid;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.8;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
}

