body{
    background-color: #0b0f1b;
    background-size: 100%;
}

#input-area{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #ffffff;
    background-color: #0e101a;
    margin: auto;
    display: block;
    width: 30%;
    font-size: x-large;
    border: 50%;
    border-color: #ff4db8;
    outline: 50%;
    outline-color: #ff4db8;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: #ff4db8;
}

#request{
    font-family: 'Courier New', Courier, monospace;
    color: #ff4db8;
    text-align: center;
}

div{
    font-family: 'Courier New', Courier, monospace;
    color: #ff4db8;
}

#LeFeesh{
    margin: auto;
    display: block;
    
}

#LeButon{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #ff4db8;
    background-color: #0e101a;
    margin: auto;
    display: block;
    width: 20%;
    font-size: x-large;
    border: 50%;
    border-color: #ff4db8;
    outline: 50%;
    outline-color: #ff4db8;
}

#LeButon:hover{
    outline-color: #ffffff;
    color: #ffffff;
}